ul {
  list-style: none;
  padding-left: 0;
}

.title {
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.countryList {
  text-align: center;
  text-align: center;
}

#countryList {
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  display: inline-block;
}

img {
  border: 2px solid black;
  width: 150px;
  height: 100px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.totalStats, .dailyStats, .overallStats {
  background-color: rgb(255, 223, 82);
  box-shadow: 0px 5px 20px rgb(71,71,71);
  border-radius: 15px;
  padding: 10px;
  margin: 5%;
  min-width: 50%;
}
